html, body {
    margin: 0;
}

.guo {
    height: 140px;
    width: 240px;
    color: #fff;
    background-image: url("../images/test.jpeg");
    background-size: cover;
    background-position: center;
}
